p {
    font-family: 'Roboto, sans-serif';
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: $grid-base;
    margin-top: $grid-base * 1.5;
}

h2 {
    font-weight: bold;
    font-size: 2.4rem;
}